<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyh.fleacampus.core.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="com.gyh.fleacampus.core.model.Comment">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="post_id" jdbcType="INTEGER" property="postId"/>
        <result column="replys" jdbcType="INTEGER" property="replys"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="flag" jdbcType="SMALLINT" property="flag"/>
        <result column="likes" jdbcType="INTEGER" property="likes"/>
        <result column="top_order" jdbcType="INTEGER" property="topOrder"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <resultMap id="commentResponse" type="com.gyh.fleacampus.core.model.view.response.CommentResponse" extends="BaseResultMap">
        <result property="username" column="username"/>
        <result property="photo" column="photo"/>
        <collection property="replyList" column="id" javaType="list"
                    ofType="com.gyh.fleacampus.core.model.Reply"
                    select="com.gyh.fleacampus.core.mapper.ReplyMapper.findTopThree"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, post_id, replys, content, create_time, flag, likes, top_order, remark
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="commentResponse">
        select c.id,
               c.user_id,
               c.post_id,
               c.replys,
               c."content",
               c.create_time,
               c.flag,
               c.likes,
               c.top_order,
               c.remark,
               fu.username,
               fu.phone
        from "fc_comment" c
                 left join fc_user fu on c.user_id = fu.id
        where c.id = #{id,jdbcType=INTEGER}
    </select>

    <select id="findByPage" resultMap="commentResponse">
        select c.id,
               c.user_id,
               c.post_id,
               c.replys,
               c."content",
               c.create_time,
               c.flag,
               c.likes,
               c.top_order,
               c.remark,
               fu.username,
               fu.phone
        from "fc_comment" c
                 left join fc_user fu on c.user_id = fu.id
        where c.post_id = #{postId}
    </select>
    <update id="incrReplys" parameterType="int">
        update fc_comment
        set replys = replys + 1
        where id = #{id}
    </update>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from "fc_comment"
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.gyh.fleacampus.core.model.Comment"
            useGeneratedKeys="true">
        insert into "fc_comment" (user_id, post_id, replys,
                                  content, create_time, flag,
                                  likes, top_order, remark)
        values (#{userId,jdbcType=INTEGER}, #{postId,jdbcType=INTEGER}, #{replys,jdbcType=INTEGER},
                #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{flag,jdbcType=SMALLINT},
                #{likes,jdbcType=INTEGER}, #{topOrder,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.gyh.fleacampus.core.model.Comment"
            useGeneratedKeys="true">
        insert into "fc_comment"
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="postId != null">post_id,</if>
            <if test="replys != null">replys,</if>
            <if test="content != null">content,</if>
            <if test="createTime != null">create_time,</if>
            <if test="flag != null">flag,</if>
            <if test="likes != null">likes,</if>
            <if test="topOrder != null">top_order,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId,jdbcType=INTEGER},</if>
            <if test="postId != null">#{postId,jdbcType=INTEGER},</if>
            <if test="replys != null">#{replys,jdbcType=INTEGER},</if>
            <if test="content != null">#{content,jdbcType=VARCHAR},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="flag != null">#{flag,jdbcType=SMALLINT},</if>
            <if test="likes != null">#{likes,jdbcType=INTEGER},</if>
            <if test="topOrder != null">#{topOrder,jdbcType=INTEGER},</if>
            <if test="remark != null">#{remark,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.gyh.fleacampus.core.model.Comment">
        update "fc_comment"
        <set>
            <if test="userId != null">user_id = #{userId,jdbcType=INTEGER},</if>
            <if test="postId != null">post_id = #{postId,jdbcType=INTEGER},</if>
            <if test="replys != null">replys = #{replys,jdbcType=INTEGER},</if>
            <if test="content != null">content = #{content,jdbcType=VARCHAR},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="flag != null">flag = #{flag,jdbcType=SMALLINT},</if>
            <if test="likes != null">likes = #{likes,jdbcType=INTEGER},</if>
            <if test="topOrder != null">top_order = #{topOrder,jdbcType=INTEGER},</if>
            <if test="remark != null">remark = #{remark,jdbcType=VARCHAR},</if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.gyh.fleacampus.core.model.Comment">
        update "fc_comment"
        set user_id     = #{userId,jdbcType=INTEGER},
            post_id     = #{postId,jdbcType=INTEGER},
            replys      = #{replys,jdbcType=INTEGER},
            content     = #{content,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            flag        = #{flag,jdbcType=SMALLINT},
            likes       = #{likes,jdbcType=INTEGER},
            top_order   = #{topOrder,jdbcType=INTEGER},
            remark      = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>