<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyh.fleacampus.core.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.gyh.fleacampus.core.model.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="signature" jdbcType="VARCHAR" property="signature"/>
        <result column="headimgurl" jdbcType="VARCHAR" property="headimgurl"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="sex" jdbcType="SMALLINT" property="sex"/>
        <result column="exp" jdbcType="INTEGER" property="exp"/>
        <result column="score" jdbcType="INTEGER" property="score"/>
        <result column="horoscope" jdbcType="VARCHAR" property="horoscope"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="unionid" jdbcType="VARCHAR" property="unionid"/>
        <result column="realname" jdbcType="VARCHAR" property="realname"/>
        <result column="qq_openid" jdbcType="VARCHAR" property="qqOpenid"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="affective" jdbcType="VARCHAR" property="affective"/>
        <result column="hometown" jdbcType="VARCHAR" property="hometown"/>
        <result column="school" jdbcType="VARCHAR" property="school"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, username, "password", signature, headimgurl, phone, sex, "exp", score, horoscope,
    create_time, unionid, realname, qq_openid, birthday, affective, hometown, school
    </sql>
    <select id="loadUserByUsername" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from fc_user where username = #{username}
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from "fc_user"
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByPhone" parameterType="int" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from fc_user
        where phone = #{phone}
    </select>
    <select id="selectByUnionid" parameterType="int" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from fc_user
        where unionid = #{unionid}
    </select>
    <select id="selectByQQOpenId" parameterType="int" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from fc_user
        where qq_openid = #{qqOpenid}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from "fc_user"
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.gyh.fleacampus.core.model.User"
            useGeneratedKeys="true">
        insert into "fc_user" (username, "password", signature,
                               headimgurl, phone, sex,
                               "exp", score, horoscope,
                               create_time, unionid, realname,
                               qq_openid, birthday, affective,
                               hometown, school)
        values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{signature,jdbcType=VARCHAR},
                #{headimgurl,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{sex,jdbcType=SMALLINT},
                #{exp,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}, #{horoscope,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP}, #{unionid,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR},
                #{qqOpenid,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{affective,jdbcType=VARCHAR},
                #{hometown,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.gyh.fleacampus.core.model.User"
            useGeneratedKeys="true">
        insert into "fc_user"
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">username,</if>
            <if test="password != null">"password",</if>
            <if test="signature != null">signature,</if>
            <if test="headimgurl != null">headimgurl,</if>
            <if test="phone != null">phone,</if>
            <if test="sex != null">sex,</if>
            <if test="exp != null">"exp",</if>
            <if test="score != null">score,</if>
            <if test="horoscope != null">horoscope,</if>
            <if test="createTime != null">create_time,</if>
            <if test="unionid != null">unionid,</if>
            <if test="realname != null">realname,</if>
            <if test="qqOpenid != null">qq_openid,</if>
            <if test="birthday != null">birthday,</if>
            <if test="affective != null">affective,</if>
            <if test="hometown != null">hometown,</if>
            <if test="school != null">school,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">#{username,jdbcType=VARCHAR},</if>
            <if test="password != null">#{password,jdbcType=VARCHAR},</if>
            <if test="signature != null">#{signature,jdbcType=VARCHAR},</if>
            <if test="headimgurl != null">#{headimgurl,jdbcType=VARCHAR},</if>
            <if test="phone != null">#{phone,jdbcType=VARCHAR},</if>
            <if test="sex != null">#{sex,jdbcType=SMALLINT},</if>
            <if test="exp != null">#{exp,jdbcType=INTEGER},</if>
            <if test="score != null">#{score,jdbcType=INTEGER},</if>
            <if test="horoscope != null">#{horoscope,jdbcType=VARCHAR},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="unionid != null">#{unionid,jdbcType=VARCHAR},</if>
            <if test="realname != null">#{realname,jdbcType=VARCHAR},</if>
            <if test="qqOpenid != null">#{qqOpenid,jdbcType=VARCHAR},</if>
            <if test="birthday != null">#{birthday,jdbcType=DATE},</if>
            <if test="affective != null">#{affective,jdbcType=VARCHAR},</if>
            <if test="hometown != null">#{hometown,jdbcType=VARCHAR},</if>
            <if test="school != null">#{school,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.gyh.fleacampus.core.model.User">
        update "fc_user"
        <set>
            <if test="username != null">username = #{username,jdbcType=VARCHAR},</if>
            <if test="password != null">"password" = #{password,jdbcType=VARCHAR},</if>
            <if test="signature != null">signature = #{signature,jdbcType=VARCHAR},</if>
            <if test="headimgurl != null">headimgurl = #{headimgurl,jdbcType=VARCHAR},</if>
            <if test="phone != null">phone = #{phone,jdbcType=VARCHAR},</if>
            <if test="sex != null">sex = #{sex,jdbcType=SMALLINT},</if>
            <if test="exp != null">"exp" = #{exp,jdbcType=INTEGER},</if>
            <if test="score != null">score = #{score,jdbcType=INTEGER},</if>
            <if test="horoscope != null">horoscope = #{horoscope,jdbcType=VARCHAR},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="unionid != null">unionid = #{unionid,jdbcType=VARCHAR},</if>
            <if test="realname != null">realname = #{realname,jdbcType=VARCHAR},</if>
            <if test="qqOpenid != null">qq_openid = #{qqOpenid,jdbcType=VARCHAR},</if>
            <if test="birthday != null">birthday = #{birthday,jdbcType=DATE},</if>
            <if test="affective != null">affective = #{affective,jdbcType=VARCHAR},</if>
            <if test="hometown != null">hometown = #{hometown,jdbcType=VARCHAR},</if>
            <if test="school != null">school = #{school,jdbcType=VARCHAR},</if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.gyh.fleacampus.core.model.User">
        update "fc_user"
        set username    = #{username,jdbcType=VARCHAR},
            "password"  = #{password,jdbcType=VARCHAR},
            signature   = #{signature,jdbcType=VARCHAR},
            headimgurl       = #{headimgurl,jdbcType=VARCHAR},
            phone       = #{phone,jdbcType=VARCHAR},
            sex         = #{sex,jdbcType=SMALLINT},
            "exp"       = #{exp,jdbcType=INTEGER},
            score       = #{score,jdbcType=INTEGER},
            horoscope   = #{horoscope,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            unionid     = #{unionid,jdbcType=VARCHAR},
            realname    = #{realname,jdbcType=VARCHAR},
            qq_openid   = #{qqOpenid,jdbcType=VARCHAR},
            birthday    = #{birthday,jdbcType=DATE},
            affective   = #{affective,jdbcType=VARCHAR},
            hometown    = #{hometown,jdbcType=VARCHAR},
            school      = #{school,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>