<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyh.fleacampus.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="com.gyh.fleacampus.model.Comment">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="post_id" jdbcType="INTEGER" property="postId"/>
        <result column="comment_id" jdbcType="INTEGER" property="commentId"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="flag" jdbcType="SMALLINT" property="flag"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, post_id, comment_id, content, create_time, flag
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from "fc_comment"
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from "fc_comment"
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.gyh.fleacampus.model.Comment"
            useGeneratedKeys="true">
        insert into "fc_comment" (user_id, post_id, comment_id,
                                  content, create_time, flag)
        values (#{userId,jdbcType=INTEGER}, #{postId,jdbcType=INTEGER}, #{commentId,jdbcType=INTEGER},
                #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{flag,jdbcType=SMALLINT})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.gyh.fleacampus.model.Comment"
            useGeneratedKeys="true">
        insert into "fc_comment"
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="postId != null">post_id,</if>
            <if test="commentId != null">comment_id,</if>
            <if test="content != null">content,</if>
            <if test="createTime != null">create_time,</if>
            <if test="flag != null">flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId,jdbcType=INTEGER},</if>
            <if test="postId != null">#{postId,jdbcType=INTEGER},</if>
            <if test="commentId != null">#{commentId,jdbcType=INTEGER},</if>
            <if test="content != null">#{content,jdbcType=VARCHAR},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="flag != null">#{flag,jdbcType=SMALLINT},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.gyh.fleacampus.model.Comment">update "fc_comment"
        <set>
            <if test="userId != null">user_id = #{userId,jdbcType=INTEGER},</if>
            <if test="postId != null">post_id = #{postId,jdbcType=INTEGER},</if>
            <if test="commentId != null">comment_id = #{commentId,jdbcType=INTEGER},</if>
            <if test="content != null">content = #{content,jdbcType=VARCHAR},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="flag != null">flag = #{flag,jdbcType=SMALLINT},</if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.gyh.fleacampus.model.Comment">
        update "fc_comment"
        set user_id     = #{userId,jdbcType=INTEGER},
            post_id     = #{postId,jdbcType=INTEGER},
            comment_id  = #{commentId,jdbcType=INTEGER},
            content     = #{content,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            flag        = #{flag,jdbcType=SMALLINT}
        where id = #{id,jdbcType=INTEGER}  </update>
</mapper>