<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyh.fleacampus.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.gyh.fleacampus.model.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="signature" jdbcType="VARCHAR" property="signature"/>
        <result column="photo" jdbcType="VARCHAR" property="photo"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="sex" jdbcType="SMALLINT" property="sex"/>
        <result column="exp" jdbcType="INTEGER" property="exp"/>
        <result column="score" jdbcType="INTEGER" property="score"/>
        <result column="horoscope" jdbcType="VARCHAR" property="horoscope"/>
        <result column="school_area_id" jdbcType="INTEGER" property="schoolAreaId"/>
        <result column="grade" jdbcType="VARCHAR" property="grade"/>
        <result column="specialty" jdbcType="VARCHAR" property="specialty"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, username, "password", signature, photo, phone, sex, "exp", score, horoscope,
    school_area_id, grade, specialty, create_time
    </sql>
    <select id="loadUserByUsername" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from fc_user where username = #{username}
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from "fc_user"
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from "fc_user"
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.gyh.fleacampus.model.User"
            useGeneratedKeys="true">
        insert into "fc_user" (username, "password", signature,
                               photo, phone, sex,
                               "exp", score, horoscope,
                               school_area_id, grade, specialty,
                               create_time)
        values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{signature,jdbcType=VARCHAR},
                #{photo,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{sex,jdbcType=SMALLINT},
                #{exp,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}, #{horoscope,jdbcType=VARCHAR},
                #{schoolAreaId,jdbcType=INTEGER}, #{grade,jdbcType=VARCHAR}, #{specialty,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.gyh.fleacampus.model.User"
            useGeneratedKeys="true">
        insert into "fc_user"
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">username,</if>
            <if test="password != null">"password",</if>
            <if test="signature != null">signature,</if>
            <if test="photo != null">photo,</if>
            <if test="phone != null">phone,</if>
            <if test="sex != null">sex,</if>
            <if test="exp != null">"exp",</if>
            <if test="score != null">score,</if>
            <if test="horoscope != null">horoscope,</if>
            <if test="schoolAreaId != null">school_area_id,</if>
            <if test="grade != null">grade,</if>
            <if test="specialty != null">specialty,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">#{username,jdbcType=VARCHAR},</if>
            <if test="password != null">#{password,jdbcType=VARCHAR},</if>
            <if test="signature != null">#{signature,jdbcType=VARCHAR},</if>
            <if test="photo != null">#{photo,jdbcType=VARCHAR},</if>
            <if test="phone != null">#{phone,jdbcType=VARCHAR},</if>
            <if test="sex != null">#{sex,jdbcType=SMALLINT},</if>
            <if test="exp != null">#{exp,jdbcType=INTEGER},</if>
            <if test="score != null">#{score,jdbcType=INTEGER},</if>
            <if test="horoscope != null">#{horoscope,jdbcType=VARCHAR},</if>
            <if test="schoolAreaId != null">#{schoolAreaId,jdbcType=INTEGER},</if>
            <if test="grade != null">#{grade,jdbcType=VARCHAR},</if>
            <if test="specialty != null">#{specialty,jdbcType=VARCHAR},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.gyh.fleacampus.model.User">
        update "fc_user"
        <set>
            <if test="username != null">username = #{username,jdbcType=VARCHAR},</if>
            <if test="password != null">"password" = #{password,jdbcType=VARCHAR},</if>
            <if test="signature != null">signature = #{signature,jdbcType=VARCHAR},</if>
            <if test="photo != null">photo = #{photo,jdbcType=VARCHAR},</if>
            <if test="phone != null">phone = #{phone,jdbcType=VARCHAR},</if>
            <if test="sex != null">sex = #{sex,jdbcType=SMALLINT},</if>
            <if test="exp != null">"exp" = #{exp,jdbcType=INTEGER},</if>
            <if test="score != null">score = #{score,jdbcType=INTEGER},</if>
            <if test="horoscope != null">horoscope = #{horoscope,jdbcType=VARCHAR},</if>
            <if test="schoolAreaId != null">school_area_id = #{schoolAreaId,jdbcType=INTEGER},</if>
            <if test="grade != null">grade = #{grade,jdbcType=VARCHAR},</if>
            <if test="specialty != null">specialty = #{specialty,jdbcType=VARCHAR},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.gyh.fleacampus.model.User">
        update "fc_user"
        set username       = #{username,jdbcType=VARCHAR},
            "password"     = #{password,jdbcType=VARCHAR},
            signature      = #{signature,jdbcType=VARCHAR},
            photo          = #{photo,jdbcType=VARCHAR},
            phone          = #{phone,jdbcType=VARCHAR},
            sex            = #{sex,jdbcType=SMALLINT},
            "exp"          = #{exp,jdbcType=INTEGER},
            score          = #{score,jdbcType=INTEGER},
            horoscope      = #{horoscope,jdbcType=VARCHAR},
            school_area_id = #{schoolAreaId,jdbcType=INTEGER},
            grade          = #{grade,jdbcType=VARCHAR},
            specialty      = #{specialty,jdbcType=VARCHAR},
            create_time    = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}    </update>
</mapper>